GPU=1
DEBUG=0

# root directoties of used programs
CAFFE_RISTRETTO_ROOT=/home/prog/caffe_ristretto
COCOTB_ROOT=/home/prog/cocotb

# cnn framework (caffe or pytorch)
CNN_FW=caffe

# root directory of the cnn model
DIR=/home/workspace/opencnn/cnn_models/tests/test_net_1

# root directory of the CNN VHDL files
VHDL_DIR="$PWD/VHDL/src"
TEST_FILES="$PWD/../test_images/*.p*"